#screen-meta-links {
	display: none !important;
}
.quillsmtp-layout__main {
	display: flex;
	height: calc(100vh - 55px);
	box-sizing: border-box;
	width: 100%;
	.qsmtp-page-component-wrapper {
		width: 100%;
	}
}
// Hide all wordpress admin notices
#qsmtp-admin-root {
	.notice {
		display: none !important;
	}
}
