.qsmtp-mailers-selector {
	margin-bottom: 20px;
	.qsmtp-mailers-selector__title {
		margin-bottom: 10px;
		font-size: 16px;
		font-weight: bold;
	}
	.qsmtp-mailers-selector__mailer {
		padding: 25px 40px;
		position: relative;
		border-radius: 5px;
		background-color: transparent;
		border: 2px solid rgba(0, 0, 0, 0.12);
		display: inline-flex;
		align-items: center;
		transition: all 0.2s ease-in-out;
		cursor: pointer;
		img {
			width: 100px;
			height: 60px;
			object-fit: contain;
		}
		&:hover {
			border: 2px solid #3858E9;
		}
		&.qsmtp-mailers-selector__mailer--active {
			border: 2px solid #3858E9;
		}
	}
}
.qsmtp-mailer-accounts {
	margin: 20px 0;
}
