.qsmtp-general-settings-header {
	width: 100%;
	background-color: #f6f6f6;
	.qsmtp-general-settings-header__title {
		color: #697386;
		font-size: 16px;
		font-weight: bold;
		padding: 20px;
	}
}
.qsmtp-general-settings__add {
	display: flex;
	justify-content: center;
}

.qsmtp-general-settings {
	margin-bottom: 20px;
}
