body.qsmtp-setup-wizard-active #wpwrap {
    display: none !important;
}

.qsmtp-setup-wizard {
    position: fixed;
    top: 0;
    width: 100%;
    //height: 100vh;
    bottom: 0;
    box-sizing: border-box;
    right: 0;
    left: 0;
    background: white;
    overflow: auto;
    display: flex;

    * {
        box-sizing: border-box;
    }

    .qsmtp-setup-wizard__right-blank-area {
        background: #0E2179;
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;
        z-index: 0;
    }

    .qsmtp-setup-wizard__sidebar {
        // position: relative;
        // left: 0;
        // top: 0;
        // bottom: 0;
        width: 70px;
        padding-left: 90px;
        display: flex;
        align-items: center;
        //z-index: 11;


        .qsmtp-setup-wizard__sidebar-steps {
            margin-top: 50px;
            display: flex;
            gap: 120px;
            justify-content: space-between;

            .qsmtp-setup-wizard__sidebar-step-wrapper {
                position: relative;

                // &:last-child .qsmtp-setup-wizard__sidebar-step-line-inner {
                //     display: none
                // }
            }

            .qsmtp-setup-wizard__sidebar-step-line {
                position: absolute;
                left: 45px;
                // width: 3px;
                top: 12.1%;
                // height: 60px;
                // background: #959090;
                // margin: 0 auto;
                display: block;
                width: 90px;
                height: 4px;
                border-radius: 10px;
                background-color: #EFF0F6;
                margin: 10px auto;
                display: block;

                &.qsmtp-setup-wizard__sidebar-step-line--checked {
                    background-color: #3858E9 !important;
                    /* Checked green */
                }

                .qsmtp-setup-wizard__sidebar-step-line-inner {
                    position: absolute;
                    left: 0px;
                    top: -10px;
                    width: 25px;
                    /* Half-length */
                    height: 4px;
                    border-radius: 10px;
                    background-color: #EFF0F6;
                    /* Active step blue */
                    margin: 10px auto;
                    transition: width 0.3s ease-in-out;
                    &.qsmtp-setup-wizard__sidebar-step-line-inner--checked{
                        background-color: #3858E9;
                    }
                }
            }

            .qsmtp-setup-wizard__sidebar-step {
                width: 30px;
                height: 30px;
                font-weight: bold;
                background: #d2d3d9;
                border: 1px solid #EFF0F6;
                color: white;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                &.qsmtp-setup-wizard__sidebar-step--checked {
                    color: #fff;
                    border-color: transparent;

                    background: #3858E9;

                }

                &.qsmtp-setup-wizard__sidebar-step--active {
                    color: #fff;
                    border-color: transparent;

                    background: #8EA2FB;
                }

                &.qsmtp-setup-wizard__sidebar-step--checked svg {
                    fill: #fff;
                    width: 25px;
                    height: 25px;
                }

            }
        }
    }

    // .qsmtp-setup-wizard__sidebar .qsmtp-setup-wizard__sidebar-logo {
    //     position: absolute;
    //     left: 0;
    //     top: 0;
    //     width: 70px;
    //     height: 70px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: center;
    //     background: #020038;

    //     img {
    //         width: 50px;
    //         height: 50px;
    //     }
    // }

    .qsmtp-setup-wizard__buttons {
        //position: fixed;
        //bottom: 40px;
        //width: 65%;
        padding-top: 20px;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #D9D9D9;

        button {
            background-size: 210% 210%;
            background-position: 100% 0;
            transition: all .15s ease;
            border: none;
            box-shadow: none !important;
            color: #fff;
            cursor: pointer;
            font-size: 16px;
            text-transform: none;

            &.qsmtp-setup-wizard__next-button {
                background: #3858E9;
                background-color: #3858E9;
                color: #fff;
                padding: 8px 55px;

                svg {
                    fill: #fff;
                }

            }

            &.qsmtp-setup-wizard__prev-button {
                background: transparent;
                color: #333333;
                padding: 8px 0;
            }
        }

    }

    input {
        color: #333 !important;
        background: transparent !important;
        height: 60px;
        border: none !important;
        padding-left: 20px;
    }

    input::placeholder {
        color: #333 !important;
    }

    input:focus {
        box-shadow: none !important;
        border: none !important;
    }


    .qsmtp-setup-wizard__close {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1111;
        cursor: pointer;

        svg {
            fill: #fff;
        }
    }

    .qsmtp-setup-wizard__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 1110px;
        max-width: 100%;
        padding: 50px 60px 20px 60px;
        height: 100%;
        overflow: auto;
        //z-index: 2;
        background: white;
        transition: width 0.3s ease;
        -webkit-transition: width 0.3s ease;
    }

    .qsmtp-setup-wizard__header {
        margin-bottom: 10px;
        padding-bottom: 25px;
        border-bottom: solid 1px #D9D9D9;

        .qsmtp-setup-wizard__header-title {
            font-size: 30px;
            //font-family: Roboto, sans-serif;
            font-weight: 500;
            color: #333333;
            line-height: 1.2;
            padding-bottom: 10px;
        }
    }

    .qsmtp-setup-wizard__next-button--disabled {
        background: #bababa !important;
        cursor: not-allowed !important;
    }
}

