.mailer-setup__body {
	margin-top: 20px;

	input[type="text"],
	input[type="password"],
	input[type="email"],
	input[type="number"] {
		min-height: auto;
		color: currentColor;
		padding: 4px 0 5px;
		border: 0;
		padding: 16.5px 14px;

		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
}

.mailer-setup__instructions{
	width: fit-content;
}

.mailer-setup__instructions p {
	margin-bottom: 0px;
	color: #3858E9;
}

.mailer-setup__instructions code {
	background-color: transparent;
	color: #333333;
	font-weight: normal;
	margin-bottom: 0px;
}