.qsmtp-email-test-page {
	max-width: 100%;
	input[type="email"] {
		min-height: auto;
		color: currentColor;
		padding: 4px 0 5px;
		border: 0;
		padding: 16.5px 14px;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
	.qsmtp-email-test-card {
		width: 800px;
		max-width: 100%;
		margin: 0 auto 100px;
	}
	.qsmtp-email-test-header {
		width: 100%;
		// background-color: #f6f6f6;
		// .qsmtp-email-test-header__title {
		// 	co
		// 	font-size: 16px;
		// 	font-weight: bold;
		// 	padding: 20px;
		// }
	}
}

.switch-container {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #3858E9;
  }
  
  .switch {
	width: 84px;
	height: 36px;
	background-color: #ccc;
	border-radius: 18px;
	display: flex;
	align-items: center;
	padding: 5px;
	cursor: pointer;
	transition: 0.3s;
  }
  
  .switch.checked {
	background-color: blue;
  }
  
  .circle {
	width: 26px;
	height: 26px;
	background-color: white;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	font-weight: bold;
	transition: 0.3s;
	transform: translateX(0);
  }
  
  .switch.checked .circle {
	transform: translateX(45px);
  }
  