.mailer-setup__body {
	max-width: 100%;
	padding: 20px;
	input[type="text"] {
		min-height: auto;
		color: currentColor;
		padding: 4px 0 5px;
		border: 0;
		padding: 16.5px 14px;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}
}

.mailer-setup__instructions {
	border: 1px solid #ccc;
	border-radius: 0.25rem;
	padding: 0.25rem 1rem;
	margin-bottom: 1rem;
}
