.qsmtp-connections-list-header {
	width: 100%;
	background-color: #f6f6f6;
	.qsmtp-connections-list-header__title {
		color: #697386;
		font-size: 16px;
		font-weight: bold;
		padding: 20px;
	}
}
.qsmtp-connections-list__add {
	display: flex;
	justify-content: start;
	overflow-y: auto;
	flex-wrap: wrap;
	cursor: pointer;

}

.qsmtp-connections-list-wrapper {
	max-height: none !important;
}
.qsmtp-connections-list {
	padding-left: 20px;
	margin-bottom: 20px;
	min-height: 400px;
	display: flex;
	flex-wrap: wrap;
	.qsmtp-connection-card {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 190px;
		height: 200px;
		margin: 20px 20px 20px 0;
		background: #fff;
		border-radius: 10px;
		border: solid 1px #e0e0e0;
		color: #333;
		svg {
			fill: #333;
			margin-bottom: 10px;
		}
		
		.qsmtp-connection-card__connection-name {
			position: absolute;
			color: #fff;
			bottom: 0;
			right: 0;
			display: flex;
			align-items: center;
			justify-content: center;
			left: 0;
			height: 40px;
			text-align: center;
			font-size: 15px;
			width: 100%;
			background: #3858E9;
			border-bottom-left-radius: 10px;
			border-bottom-right-radius: 10px;
		}
		.qsmtp-connection-card__icon {
			margin-bottom: 20px;
			max-width: 155px;
			height: 24px;
			-o-object-fit: cover;
			object-fit: cover;
			
		}

	}
	
}

.qsmtp-connection-card-add {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 190px;
	height: 200px;
	margin: 20px 20px 20px 0;
	background: #3858E9;
	border-radius: 10px;
	color: white;
	svg {
		fill: white;
		margin-bottom: 10px;
	}}
