.qsmtp-license-page {
	max-width: 100%;
	input[type="text"] {
		min-height: auto;
		color: currentColor;
		padding: 4px 0 5px;
		border: 0;
		padding: 16.5px 14px;
		&:focus {
			outline: none;
			box-shadow: none;
		}
	}

	.qsmtp-license-settings-header {
		width: 100%;
		background-color: #f6f6f6;
		// .qsmtp-license-settings-header__title {
		// 	color: #333333;
		// 	font-size: 48px;
		// 	font-weight: 700;
		// 	padding: 20px;
		// }
	}
	.qsmtp-license-settings__add {
		display: flex;
		justify-content: center;
	}

	.qsmtp-license-settings {
		margin-bottom: 20px;
		border: 1px solid #9E9E9E;
		border-radius: 8px;
		box-shadow: none;
		padding: 3rem 14rem;
		width: 1140px; 
		max-Width: 100%; 
		margin: 0 auto;
	}}
