.qsmtp-settings-page {
	width: 100%;
	.qsmtp-settings-page__heading {
		border-bottom: 1px solid #d8d6d6;
		padding-bottom: 10px !important;
		margin-bottom: 10px !important;
	}

	.qsmtp-settings-page__body {
		background: #fff;
		padding: 30px 20px;
		margin-top: 20px;
		border-radius: 10px;
		box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
		.components-tab-panel__tabs {
			background: #f6f6f6;
			display: flex !important;
			align-items: center !important;
			margin-bottom: 20px;
			padding: 15px 20px;
			border-radius: 5px;
			.components-tab-panel__tabs-item {
				height: auto !important;
				padding: 8px 10px;
				border-radius: 5px;
				margin-right: 10px;
				box-shadow: none !important;
				border: none !important;
				&.active-tab {
					background: #7962d7;
					color: #fff;
					height: auto !important;
				}
			}
		}
	}
}
